.best-fashion__container {
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;

    /* @media (min-width: 1300px) {
        padding: 6rem 2rem;
        justify-content: space-between;
    } */
}

.best-fashion__img {
    width: 300px;
}

.best-fashion__heading {
    width: 300px;
    text-align: center;

    /* @media (min-width: 1300px) {
        width: 390px;
    } */
}

.best-fashion__description {
    width: 280px;
    margin: 20px 0;
    text-align: center;

    /* @media (min-width: 1300px) {
        width: 445px;
        margin: 60px 0;
    } */
}

.best-fashion__btn-container {
    width: 100%;
    text-align: center;
}