.collection__card {
    position: relative;
    overflow: hidden;
}

.collection__card-img-container img {
    width: 250px;
    height: 310px;
    border-radius: 10px;

    /* @media (min-width: 1300px) {
        width: 350px;
        height: 410px;
        border-radius: 6px;
    } */
}

.collection__card-btn {
    width: 210px;
    height: 40px;
    border-radius: 10px;
    background: #fff;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 14px;
    color: #000;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    transition: linear 0.4s;

    /* @media (min-width: 1300px) {
        width: 310px;
        height: 60px;
        border-radius: 20px;
        font-size: 24px;
        bottom: -65px;
    } */
}

.collection__card:hover .collection__card-btn {
    bottom: 25px;

    /* @media (min-width: 1300px) {
        bottom: 45px;
    } */
}