.footer__container {
    padding: 6rem 2rem;
}

.footer__row-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.footer__row-two {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer__social-icons {
    display: flex;
    gap: 26px;
}

.footer__copyright-text {
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 14px;
    color: #6d6d6d;
}