.SectionBtn {
    width: 320px;
    height: 85px;
    border-radius: 10px;
    background: #000;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    text-align: center;
    transition: linear 0.4s;
}

.SectionBtn:hover {
    background: #262626;
}

.SectionBtn:active {
    transform: scale(0.9);
}