.SectionBtn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #262626;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: linear 0.4s;

    /* 
    1300
    width: 320px;
    height: 85px;
    border-radius: 10px;
    font-size: 24px;
    */
}

.SectionBtn:hover {
    background: #000;
}

.SectionBtn:active {
    transform: scale(0.9);
}