.HeroContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (min-width: 576px) {
        padding: 4rem 2rem;
    } 

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 0;
    }

    @media (min-width: 992px) {
        padding: 6rem 2rem;
    }
}

.HeroColumnOne {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 768px) {
        width: 50%;
        align-items: flex-start;
    }
}

.HeroHeading {
    width: 300px;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 34px;
    color: #262626;
    text-align: center;

    @media (min-width: 576px) {
        width: 450px;
        font-size: 50px;
    }
    
    @media (min-width: 768px) {
        width: 300px;
        font-size: 40px;
        text-align: start;
    }

    @media (min-width: 992px) {
        font-size: 45px;
    }

    @media (min-width: 1300px) {
        width: 450px;
        font-size: 64px;
    }
}

.HeroDescription {
    width: 280px;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 16px;
    color: #262626;
    text-align: center;
    margin: 10px 0 35px;

    @media (min-width: 576px) {
        width: 450px;
        font-size: 20px;
    }

    @media (min-width: 768px) {
        width: 280px;
        font-size: 16px;
        text-align: start;
    }
    
    @media (min-width: 992px) {
        width: 320px;
        font-size: 18px;
    }

    @media (min-width: 1300px) {
        width: 500px;
        font-size: 22px;
        margin: 40px 0 75px;
    }
}

.HeroColumnTwo {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        width: 50%;
    }
}

.HeroImage {
    width: 300px;

    @media (min-width: 576px) {
        width: 400px;
    }

    @media (min-width: 1300px) {
        width: 500px;
    }
}

.HeroImage img {
    width: 100%;
}