.heading {
    font-family: var(--frank-ruhl-libre);
    font-weight: 700;
    font-size: 34px;

    @media (min-width: 576px) {
        font-size: 50px;
    }
    
    @media (min-width: 768px) {
        font-size: 40px;
    }
    
    @media (min-width: 768px) {
        font-size: 45px;
    }

    @media (min-width: 1300px) {
        font-size: 64px;
    }
}