:root {
    --light-yellow: #FFD687;
    --medium-yellow: #FDBB57;
    --dark-yellow: #FFAF37;
    --light-beige: #FEECC8;
    --dark-beige: #CFA485;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}