:root {
    --light-yellow: #FFD687;
    --medium-yellow: #FDBB57;
    --dark-yellow: #FFAF37;
    --light-beige: #FEECC8;
    --dark-beige: #CFA485;
    --light-grey: #c4c4c4;

    --poppins: "Poppins", serif;
    --frank-ruhl-libre: "Frank Ruhl Libre", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

button {
    all: unset;
}