@keyframes slide-up-animation {
    0% {
        transform: translateY(8rem)
    }
    100% {
        transform: translateY(0)
    }
}

.NavContainer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLogo {
    width: 5rem;

    @media (min-width: 576px) {
        width: 6.5rem;
    }
    
    @media (min-width: 768px) {
        width: 5rem;
    }

    @media (min-width: 1300px) {
        width: auto;
    }
}

.NavLogo img {
    width: 100%;
}

.NavMenu {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    @media (min-width: 992px) {
        gap: 80px;
    }
}

.NavLinks {
    display: flex;
    gap: 10px;

    @media (min-width: 992px) {
        gap: 20px;
    }
    
    @media (min-width: 1300px) {
        gap: 60px;
    }
}

.NavMenuBtns {
    display: flex;
    gap: 5px;

    @media (min-width: 992px) {
        gap: 10px;
    }
}

.NavMobileMenuContainer {
    display: block;
    position: relative;

    @media (min-width: 768px) {
        display: none;
    }
}

.NavMobileMenuBtn {
    --base-unit: 2px;
    @media (min-width: 576px) { --base-unit: 3px; }

    width: calc(var(--base-unit) * 12);
    height: calc(var(--base-unit) * 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--base-unit) * 3);
}

.NavMobileMenuBtn div {
    width: 100%;
    height: var(--base-unit);
    background: #000;
    transition: linear 0.4s;
}

.NavMobileMenuBtnToggled div:nth-of-type(1) {
    transform: translateY(calc(var(--base-unit) * 3)) rotate(45deg);
}

.NavMobileMenuBtnToggled div:nth-of-type(2) {
    display: none;
}

.NavMobileMenuBtnToggled div:nth-of-type(3) {
    transform: translateY(calc(var(--base-unit) * -1)) rotate(-45deg);
}

.NavMobileMenu {
    width: 9rem;
    border-radius: 0.5rem;
    border: 1px solid #bbb;
    box-shadow: 0px 0px 10px #bbb;
    padding: 1rem 0;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 4rem;
    right: 0.2rem;
    animation: slide-up-animation 0.6s;

    @media (min-width: 576px) {
        width: 11rem;
        padding: 2rem 0;
    }
}

.NavMobileMenuFlex {
    display: flex;
}

.NavMobileMenuHidden {
    display: none;
}

.NavMobileMenuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavMobileMenuBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}